
/* ------ utility ----- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-image: url("../img/bg-zapp.jpg");
    background-size: cover;
}

input:focus{
    outline: none;
}


/* ----- main code ----- */
/* macroaree */
.mega-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 75%;
    min-width: 970px;
    height: 90%;
    min-height: 600px;
    display: flex;
}

.container .sx-side{
    width: 35%;
    height: 100%;
}

.container .dx-side{
    width: 65%;
    height: 100%;
    border-left: 1px solid lightgrey;
}


/* ---------------------- parte sinistra ------------------------  */

/* profilo personale */
.own-profile{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
}

.own-profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px;
}

.own-photo-name{
    display: flex;
    align-items: center;
}

.own-profile i {
    padding: 10px;
    font-size: 1.2rem;
    color: #a2a1a2;
}

.own-profile .icons {
    padding-right: 10px;
}



/* ricevi notifiche */
.notifications{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #8edafc;
}

.bell{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 7px 0 12px;
}

.bell i{
    color: #8edafc;
}

.get-notifications h4, .get-notifications a{
    font-weight: 400;
    font-size: 14px;
}

.get-notifications a{
    color: grey;
}



/* cerca una chat */
.chat-finder{
    width: 100%;
    height: 50px;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-finder .input-text{
    width: 97%;
    height: 75%;
    display: flex;
}

.chat-finder .lens{
    width: 80px;
    display: inline-block;
    background-color: white;
    border: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-finder .lens i{
    color: #a2a1a2;
}

.chat-finder input{
    width: calc(100% - 50px);
    border: 1px solid #eaeaea;
    border-left: none;
    padding-left: 10px;
}




/* anteprime chat con contatti */
.contacts{
    width: 100%;
    height: calc(100% - 60px - 70px - 50px);
    background-color: white;
    overflow-y: scroll;
}

.user-contact{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid #eaeaea;
    position: relative;
    background-color: white;
    cursor: pointer;
}

.user-contact:hover{
    background-color: #e9ebeb;
}

.user-contact img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.info-user{
    display: flex;
    padding-left: 1rem;
}

.user-name span{
    display: block;
    padding: 0 1rem;
}

.time-chat{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #a2a1a2;
    font-size: 12px;
}

.last-message{
    font-size: 14px;
    color: #a2a1a2;
}





/* ---------------------------- parte destra ---------------------------- */

/* profilo utente */
.user-profile{
    width: 100%;
    height: 60px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.user-photo-name{
    display: flex;
}

.user-photo-name img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-profile i{
    color: #a2a1a2;
    font-size: 1.2rem;
    padding: 10px;
}



/* chat principale */
.chat{
    width: 100%;
    height: calc(100% - 60px - 60px);
    background-image: url("../img/mine.jpg");
    overflow-y: scroll;
}

.container-chat{
    width: 85%;
    margin: auto;
    padding-top: 3rem;
}

.sent-message, .received-message{
    width: 100%;
    margin: 10px 0;
}

.sent-message{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.chat .message{
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1.6rem 0 1rem;
    position: relative;
    border-radius: 10px;
    overflow-wrap: break-word;
    hyphens: auto;
    padding: 12px 10px;
}

.sent-message .message{
    background-color: #d5f9ba;
}

.received-message .message{
    background-color: white;
}

.time-message{
    position: absolute;
    bottom: 1px;
    right: 5px;
    font-size: 11px;
    color: #a2a1a2;
}

.message i{
    position: absolute;
    top: 7px;
    right: 10px;
    color: #a2a1a2;
    cursor: pointer;
    display: none;
}

.message:hover i{
    display: block;
}

.panel{
    width: 150px;
    height: 100px;
    background-color: white;
    position: absolute;
    right: 0;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.panel div{
    width: 100%;
    height: 50%;
    color: #5e6567;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.panel div:hover{
    background-color: #e9ebeb;
}




/* scrittura del messaggio */
.type-text{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #f3eeea;
}

.type-text .emoticons, .type-text .audio{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.type-text input{
    width: 80%;
    height: 75%;
    border: none;
    padding-left: 1rem;
}

.type-text i{
    font-size: 1.4rem;
    color: #5e6567;
}
