
/* utility */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* main code */

/* macroaree */
.mega-container{
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 75%;
    min-width: 970px;
    height: 90%;
    min-height: 800px;
    display: flex;
    background-color: red; 
}

.container .sx-side{
    width: 35%;
    height: 100%;
    border: 3px solid black;
}

.container .dx-side{
    width: 65%;
    height: 100%;
    border: 3px solid black;
}

/* parte sinistra  */
.own-profile{
    width: 100%;
    height: 60px;
    background-color: blue;
}

.notifications{
    width: 100%;
    height: 70px;
    background-color: green;
}

.chat-finder{
    width: 100%;
    height: 50px;
    background-color: grey;
}

.chats{
    width: 100%;
    height: calc(100% - 60px - 70px - 50px);
    background-color: blueviolet;
}



/* parte destra */
.user-profile{
    width: 100%;
    height: 60px;
    background-color: orange;
}

.chat{
    width: 100%;
    height: calc(100% - 60px - 60px);
    background-color: beige;
}

.message{
    width: 100%;
    height: 60px;
    background-color: hotpink;
}